AukcijaWCF/AukcijaKonzola/Service References/ServiceReference1/Aukcija.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Aukcija" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58814/Aukcija.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58814/Aukcija.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58814/Aukcija.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AukcijaWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAukcija_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAukcija_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAukcija_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAukcija_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IAukcija_vratiEksponat_InputMessage">
    <wsdl:part name="parameters" element="tns:vratiEksponat" />
  </wsdl:message>
  <wsdl:message name="IAukcija_vratiEksponat_OutputMessage">
    <wsdl:part name="parameters" element="tns:vratiEksponatResponse" />
  </wsdl:message>
  <wsdl:message name="IAukcija_vratiSveEksponate_InputMessage">
    <wsdl:part name="parameters" element="tns:vratiSveEksponate" />
  </wsdl:message>
  <wsdl:message name="IAukcija_vratiSveEksponate_OutputMessage">
    <wsdl:part name="parameters" element="tns:vratiSveEksponateResponse" />
  </wsdl:message>
  <wsdl:portType name="IAukcija">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAukcija/GetData" message="tns:IAukcija_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAukcija/GetDataResponse" message="tns:IAukcija_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IAukcija/GetDataUsingDataContract" message="tns:IAukcija_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAukcija/GetDataUsingDataContractResponse" message="tns:IAukcija_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vratiEksponat">
      <wsdl:input wsaw:Action="http://tempuri.org/IAukcija/vratiEksponat" message="tns:IAukcija_vratiEksponat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAukcija/vratiEksponatResponse" message="tns:IAukcija_vratiEksponat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vratiSveEksponate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAukcija/vratiSveEksponate" message="tns:IAukcija_vratiSveEksponate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAukcija/vratiSveEksponateResponse" message="tns:IAukcija_vratiSveEksponate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAukcija" type="tns:IAukcija">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IAukcija/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IAukcija/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vratiEksponat">
      <soap:operation soapAction="http://tempuri.org/IAukcija/vratiEksponat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vratiSveEksponate">
      <soap:operation soapAction="http://tempuri.org/IAukcija/vratiSveEksponate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Aukcija">
    <wsdl:port name="BasicHttpBinding_IAukcija" binding="tns:BasicHttpBinding_IAukcija">
      <soap:address location="http://localhost:58814/Aukcija.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>